---
import Button from '@components/ui/Button.astro';
import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contacto"
	id="contacto"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white mb-0 h-screen"
>
<div class="text-center	">
	Te invitamos a realizar una clase de prueba gratis
</div>

	<hr class="w-1/2" />
	<div class="flex gap-20 ">
		<Social />
	</div>
</section>
