<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © 2023. All rights reserved. Made by <a
			href="https://www.iantech.com.ar/"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> IANTech </span>
		</a>
		
	</p>
</footer>
